@charset "UTF-8";
* {
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

input,
select {
  vertical-align: middle;
}

input,
select,
textarea {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

hr {
  border: none;
}

/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
  /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

body {
  font-family: YakuHanJPs_Narrow, "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  min-height: 100vh;
}

@keyframes bounceOut2 {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
  25% {
    opacity: 1;
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50%, 85% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.animate__bounceOut2 {
  animation-duration: 2s !important;
  animation-name: bounceOut2;
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .l-content {
    padding: 2rem 1rem;
  }
}
@media (min-width: 61.25em) {
  .l-content {
    padding: 10vh 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    max-height: 100vh;
    width: 100%;
  }
}

textarea.a-copy-text {
  font-size: 1.125rem;
  color: #3b384c;
  width: 100%;
  height: auto;
  padding: 0.5em 0.75em;
  line-height: 1.5;
  min-height: 8em;
  border: dashed 2px #302f33;
  background-color: white;
}

.a-ex-button {
  text-align: center;
  text-transform: none;
  display: inline-flex;
  border: solid 1px;
  border-radius: 0.25rem;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  font-weight: 800;
  color: #3b384c;
  padding: 0 2em;
  border-radius: 0.25em;
  height: 2.75em;
  transition: all 0.4s ease-out;
  background-color: #fabd17;
  background-image: linear-gradient(#fbc73b, #b77411);
  border-style: solid;
  border-width: 1px;
  border-color: #ffdf89 #d6a521 #945d0c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.125rem 0.5rem 0.125em, rgba(255, 255, 255, 0.25) 0 0 0.25rem 1px inset;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 2px;
}
.a-ex-button.is-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.a-ex-button:focus {
  outline: none;
}
.a-ex-button:disabled {
  cursor: default;
  pointer-events: none;
}
@media (min-width: 48em) {
  .is-button-group .a-ex-button {
    margin-right: -1px;
  }
  .is-button-group .a-ex-button:hover, .is-button-group .a-ex-button:active {
    position: relative;
  }
  .is-button-group li:not(:first-child):not(:last-child) .a-ex-button {
    border-radius: 0;
  }
  .is-button-group li:first-child .a-ex-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .is-button-group li:last-child .a-ex-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.a-ex-button i:first-child {
  margin-right: 0.4em;
}
.a-ex-button i:last-child {
  margin-left: 0.4em;
}
.a-ex-button i:first-child:last-child {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .a-ex-button.is-lg {
    font-size: 1.6rem;
    min-width: 100%;
  }
}
@media (min-width: 61.25em) {
  .a-ex-button.is-lg {
    font-size: 2rem;
    min-width: 14em;
  }
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .a-ex-button.is-md {
    font-size: 1.3333333333rem;
    min-width: 100%;
  }
}
@media (min-width: 61.25em) {
  .a-ex-button.is-md {
    font-size: 1.6rem;
    min-width: 14em;
  }
}
.a-ex-button:hover {
  color: #2d2d33;
  border-color: #fbdf98 #eccf7e #c79953;
  background-color: #fabd17;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 1rem 0.125em, rgba(255, 255, 255, 0.5) 0 0 0.5rem 1px inset;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 4px;
}
.a-ex-button:active {
  color: #2d2d33;
  border-color: #563508 #90620d #ffcd52;
  background-image: linear-gradient(#b77411, #fbc73b);
  background-color: #fabd17;
  box-shadow: rgba(255, 255, 255, 0.3) 0 2px 0px 0px, rgba(0, 0, 0, 0.5) 0 4px 8px inset, rgba(0, 0, 0, 0.2) 0 -4px 8px;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 4px;
  color: #9a291f;
}
.a-ex-button.is-disabled {
  color: #2d2d33;
  border-color: #b9b9b9;
  background-image: none;
  background-color: #b9b9b9;
  box-shadow: none;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 1px;
  color: #888;
  pointer-events: none;
}
.a-ex-button.is-danger {
  background-color: #de493a;
  background-image: linear-gradient(#fb5454, #9a2b12);
  border-color: #f18381 #c55d53 #9a291f;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 2px;
}
.a-ex-button.is-danger:hover {
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 4px;
}

.a-form-label {
  font-weight: 700;
  display: block;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .a-form-label {
    font-size: 1.1428571429rem;
  }
}
@media (min-width: 61.25em) {
  .a-form-label {
    font-size: 1.3333333333rem;
  }
}

.a-hr-border {
  background-color: #ccc;
  height: 1px;
  width: 100%;
}

.a-icon-square {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3b384c;
  height: 100%;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.2s ease-out;
}
.a-icon-square:hover {
  background-color: rgb(224.4, 224.4, 224.4);
  position: relative;
}
.a-icon-square:focus, .a-icon-square:active {
  background-color: rgb(224.4, 224.4, 224.4);
  position: relative;
}

label.a-icon-square {
  cursor: pointer;
}

.a-icon-square__icon {
  text-align: center;
  display: block;
}

.a-icon-square__label {
  font-size: 0.385em;
  line-height: 1.3;
  margin-top: 0.5em;
  margin-bottom: -0.83em;
  text-align: center;
  display: block;
}

input::placeholder,
textarea::placeholder {
  color: #bbb;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bbb;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #bbb;
}

.a-text-input {
  background-color: white;
  background-image: linear-gradient(white, #ccc);
  color: #3b384c;
  border-radius: 8px;
  height: 2.5em;
  width: 100%;
  padding: 0 0.5em;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px inset, rgba(255, 255, 255, 0.3) 0 1px 2px;
  font-weight: 800;
  border-style: solid;
  border-width: 1px;
  border-color: #2a206d #2a1f71 #6f61c7;
  transition: all 0.4s ease-out;
}
.a-text-input:hover, .a-text-input:focus, .a-text-input:active {
  border-color: #7568ca #6356b7 #a398e8;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px inset, rgba(255, 255, 255, 0.3) 0 1px 2px, rgba(255, 255, 255, 0.4) 0 0 16px;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .a-text-input {
    font-size: 1.25rem;
  }
}
@media (min-width: 61.25em) {
  .a-text-input {
    font-size: 1.6rem;
  }
}

textarea.a-text-input {
  height: auto;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  min-height: 8em;
}

.a-text-link {
  color: rgb(199.5, 195.3, 226.5);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.a-text-link:hover {
  color: white;
  text-decoration: underline;
}

.a-button {
  text-align: center;
  text-transform: none;
  display: inline-flex;
  border: solid 1px;
  border-radius: 0.25rem;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}
.a-button.is-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.a-button:focus {
  outline: none;
}
.a-button:disabled {
  cursor: default;
  pointer-events: none;
}
@media (min-width: 48em) {
  .is-button-group .a-button {
    margin-right: -1px;
  }
  .is-button-group .a-button:hover, .is-button-group .a-button:active {
    position: relative;
  }
  .is-button-group li:not(:first-child):not(:last-child) .a-button {
    border-radius: 0;
  }
  .is-button-group li:first-child .a-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .is-button-group li:last-child .a-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.a-button i:first-child {
  margin-right: 0.4em;
}
.a-button i:last-child {
  margin-left: 0.4em;
}
.a-button i:first-child:last-child {
  margin-left: 0;
  margin-right: 0;
}
.a-button.is-primary {
  color: white;
  border-color: rgb(94.83, 79.44, 199.14) rgb(86.4, 70.2, 196.2) rgb(82.08, 66.69, 186.39);
  background-color: #604eda;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(103.95, 86.85, 219.85), rgb(91.2, 74.1, 207.1));
}
.a-button.is-primary:hover, .a-button.is-primary:focus, .a-button.is-primary:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(96, 78, 218, 0.25);
  background-color: rgb(76.8, 62.4, 174.4);
  border-color: rgb(85.71, 72.03, 178.43) rgb(76.8, 62.4, 174.4) rgb(72.96, 59.28, 165.68);
}
.a-button.is-primary.is-disabled, .a-button.is-primary:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(90.24, 73.32, 204.92);
}
.a-button.is-secondary {
  color: #3b384c;
  border-color: rgb(189.42, 192.7, 195.98);
  background-color: #e7ebef;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(232.2, 236, 239.8), rgb(219.45, 223.25, 227.05));
}
.a-button.is-secondary:hover, .a-button.is-secondary:focus, .a-button.is-secondary:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(231, 235, 239, 0.25);
  background-color: rgb(184.8, 188, 191.2);
  border-color: rgb(175.56, 178.6, 181.64);
}
.a-button.is-secondary.is-disabled, .a-button.is-secondary:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(217.14, 220.9, 224.66);
}
.a-button.is-info {
  color: white;
  border-color: rgb(32.415, 151.26, 170.07) rgb(20.7, 145.8, 165.6) rgb(19.665, 138.51, 157.32);
  background-color: #17a2b8;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(34.6, 166.65, 187.55), rgb(21.85, 153.9, 174.8));
}
.a-button.is-info:hover, .a-button.is-info:focus, .a-button.is-info:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(23, 162, 184, 0.25);
  background-color: rgb(18.4, 129.6, 147.2);
  border-color: rgb(30.23, 135.87, 152.59) rgb(18.4, 129.6, 147.2) rgb(17.48, 123.12, 139.84);
}
.a-button.is-info.is-disabled, .a-button.is-info:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(21.62, 152.28, 172.96);
}
.a-button.is-success {
  color: white;
  border-color: rgb(46.95, 155.535, 71.745) rgb(36, 150.3, 62.1) rgb(34.2, 142.785, 58.995);
  background-color: #28a745;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(50.75, 171.4, 78.3), rgb(38, 158.65, 65.55));
}
.a-button.is-success:hover, .a-button.is-success:focus, .a-button.is-success:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(40, 167, 69, 0.25);
  background-color: rgb(32, 133.6, 55.2);
  border-color: rgb(43.15, 139.67, 65.19) rgb(32, 133.6, 55.2) rgb(30.4, 126.92, 52.44);
}
.a-button.is-success.is-disabled, .a-button.is-success:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(37.6, 156.98, 64.86);
}
.a-button.is-warning {
  color: #3b384c;
  border-color: rgb(230.775, 183.75, 15.315) rgb(229.5, 180, 2.7) rgb(218.025, 171, 2.565);
  background-color: #ffc803;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(255, 202.75, 15.6), rgb(242.25, 190, 2.85));
}
.a-button.is-warning:hover, .a-button.is-warning:focus, .a-button.is-warning:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(255, 200, 3, 0.25);
  background-color: rgb(204, 160, 2.4);
  border-color: rgb(206.55, 164.75, 15.03) rgb(204, 160, 2.4) rgb(193.8, 152, 2.28);
}
.a-button.is-warning.is-disabled, .a-button.is-warning:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(239.7, 188, 2.82);
}
.a-button.is-danger {
  color: white;
  border-color: rgb(200.85, 58.065, 71.745) rgb(198, 47.7, 62.1) rgb(188.1, 45.315, 58.995);
  background-color: #dc3545;
  transition: all 0.2s ease-out;
  background-image: linear-gradient(rgb(221.75, 63.1, 78.3), rgb(209, 50.35, 65.55));
}
.a-button.is-danger:hover, .a-button.is-danger:focus, .a-button.is-danger:active {
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.15) inset, 0 0 0 0.1875rem rgba(220, 53, 69, 0.25);
  background-color: rgb(176, 42.4, 55.2);
  border-color: rgb(179.95, 53.03, 65.19) rgb(176, 42.4, 55.2) rgb(167.2, 40.28, 52.44);
}
.a-button.is-danger.is-disabled, .a-button.is-danger:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(206.8, 49.82, 64.86);
}
.a-button.is-disabled {
  color: #3b384c;
  border-color: rgb(205.98, 205.98, 205.98) rgb(203.4, 203.4, 203.4) rgb(193.23, 193.23, 193.23);
  background-color: #e2e2e2;
  transition: all 0.2s ease-out;
  pointer-events: none;
}
.a-button.is-disabled.is-disabled, .a-button.is-disabled:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(212.44, 212.44, 212.44);
}
.a-button.is-border-primary {
  color: #604eda;
  border-color: #604eda;
}
.a-button.is-border-primary:focus, .a-button.is-border-primary:active {
  box-shadow: 0 0 0 0.1875rem rgba(96, 78, 218, 0.25);
}
.a-button.is-border-primary:hover, .a-button.is-border-primary:focus, .a-button.is-border-primary:active {
  background-color: rgba(96, 78, 218, 0.1);
  border-color: rgb(62.9672897196, 42.3598130841, 202.6401869159);
}
.a-button.is-border-primary.is-disabled, .a-button.is-border-primary:disabled {
  color: rgba(96, 78, 218, 0.4);
  pointer-events: none;
  border-color: rgb(90.24, 73.32, 204.92);
}
.a-button.is-border-secondary {
  color: #9494a0;
  border-color: #9494a0;
}
.a-button.is-border-secondary:focus, .a-button.is-border-secondary:active {
  box-shadow: 0 0 0 0.1875rem rgba(148, 148, 160, 0.25);
}
.a-button.is-border-secondary:hover, .a-button.is-border-secondary:focus, .a-button.is-border-secondary:active {
  background-color: rgba(148, 148, 160, 0.1);
  border-color: rgb(120.9851485149, 120.9851485149, 136.0148514851);
}
.a-button.is-border-secondary.is-disabled, .a-button.is-border-secondary:disabled {
  color: rgba(148, 148, 160, 0.4);
  pointer-events: none;
  border-color: rgb(139.12, 139.12, 150.4);
}
.a-button.is-border-info {
  color: #17a2b8;
  border-color: #17a2b8;
}
.a-button.is-border-info:focus, .a-button.is-border-info:active {
  box-shadow: 0 0 0 0.1875rem rgba(23, 162, 184, 0.25);
}
.a-button.is-border-info:hover, .a-button.is-border-info:focus, .a-button.is-border-info:active {
  background-color: rgba(23, 162, 184, 0.1);
  border-color: rgb(17.3333333333, 122.0869565217, 138.6666666667);
}
.a-button.is-border-info.is-disabled, .a-button.is-border-info:disabled {
  color: rgba(23, 162, 184, 0.4);
  pointer-events: none;
  border-color: rgb(21.62, 152.28, 172.96);
}
.a-button.is-border-success {
  color: #28a745;
  border-color: #28a745;
}
.a-button.is-border-success:focus, .a-button.is-border-success:active {
  box-shadow: 0 0 0 0.1875rem rgba(40, 167, 69, 0.25);
}
.a-button.is-border-success:hover, .a-button.is-border-success:focus, .a-button.is-border-success:active {
  background-color: rgba(40, 167, 69, 0.1);
  border-color: rgb(30.1449275362, 125.8550724638, 52);
}
.a-button.is-border-success.is-disabled, .a-button.is-border-success:disabled {
  color: rgba(40, 167, 69, 0.4);
  pointer-events: none;
  border-color: rgb(37.6, 156.98, 64.86);
}
.a-button.is-border-warning {
  color: #ffc803;
  border-color: #ffc803;
}
.a-button.is-border-warning:focus, .a-button.is-border-warning:active {
  box-shadow: 0 0 0 0.1875rem rgba(255, 200, 3, 0.25);
}
.a-button.is-border-warning:hover, .a-button.is-border-warning:focus, .a-button.is-border-warning:active {
  background-color: rgba(255, 200, 3, 0.1);
  border-color: rgb(207, 161.8214285714, 0);
}
.a-button.is-border-warning.is-disabled, .a-button.is-border-warning:disabled {
  color: rgba(255, 200, 3, 0.4);
  pointer-events: none;
  border-color: rgb(239.7, 188, 2.82);
}
.a-button.is-border-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.a-button.is-border-danger:focus, .a-button.is-border-danger:active {
  box-shadow: 0 0 0 0.1875rem rgba(220, 53, 69, 0.25);
}
.a-button.is-border-danger:hover, .a-button.is-border-danger:focus, .a-button.is-border-danger:active {
  background-color: rgba(220, 53, 69, 0.1);
  border-color: rgb(189.2151898734, 32.7848101266, 47.7721518987);
}
.a-button.is-border-danger.is-disabled, .a-button.is-border-danger:disabled {
  color: rgba(220, 53, 69, 0.4);
  pointer-events: none;
  border-color: rgb(206.8, 49.82, 64.86);
}
.a-button.is-border-disabled {
  color: #e2e2e2;
  border-color: #e2e2e2;
  pointer-events: none;
}
.a-button.is-border-disabled:focus, .a-button.is-border-disabled:active {
  box-shadow: 0 0 0 0.1875rem rgba(226, 226, 226, 0.25);
}
.a-button.is-border-disabled:hover, .a-button.is-border-disabled:focus, .a-button.is-border-disabled:active {
  background-color: rgba(226, 226, 226, 0.1);
  border-color: rgb(200.5, 200.5, 200.5);
}
.a-button.is-border-disabled.is-disabled, .a-button.is-border-disabled:disabled {
  color: rgba(226, 226, 226, 0.4);
  pointer-events: none;
  border-color: rgb(212.44, 212.44, 212.44);
}
.a-button.is-3d-primary {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgb(111.69, 97.92, 205.02) rgb(86.4, 70.2, 196.2) rgb(60.48, 49.14, 137.34);
  background-color: #604eda;
  box-shadow: rgb(61.44, 49.92, 139.52) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(119.85, 104.55, 223.55), rgb(81.6, 66.3, 185.3));
}
.a-button.is-3d-primary:hover, .a-button.is-3d-primary:focus, .a-button.is-3d-primary:active {
  background-color: rgb(127.8, 113.4, 225.4);
  background-image: linear-gradient(rgb(146.88, 134.64, 229.84), rgb(108.63, 96.39, 191.59));
  border-color: rgb(136.017, 125.001, 210.681) rgb(115.02, 102.06, 202.86) rgb(72.4626, 64.2978, 127.8018);
  box-shadow: rgb(81.792, 72.576, 144.256) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-primary:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(81.792, 72.576, 144.256) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-primary.is-disabled, .a-button.is-3d-primary:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(90.24, 73.32, 204.92);
}
.a-button.is-3d-secondary {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #3b384c;
  border-color: rgb(189.42, 192.7, 195.98);
  background-color: #e7ebef;
  box-shadow: rgb(147.84, 150.4, 152.96) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(234.6, 238, 241.4), rgb(196.35, 199.75, 203.15));
}
.a-button.is-3d-secondary:hover, .a-button.is-3d-secondary:focus, .a-button.is-3d-secondary:active {
  background-color: rgb(235.8, 239, 242.2);
  background-image: linear-gradient(rgb(238.68, 241.4, 244.12), rgb(200.43, 203.15, 205.87));
  border-color: rgb(175.56, 178.6, 181.64);
  box-shadow: rgb(150.912, 152.96, 155.008) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-secondary:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(150.912, 152.96, 155.008) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-secondary.is-disabled, .a-button.is-3d-secondary:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(217.14, 220.9, 224.66);
}
.a-button.is-3d-info {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgb(55.845, 162.18, 179.01) rgb(20.7, 145.8, 165.6) rgb(14.49, 102.06, 115.92);
  background-color: #17a2b8;
  box-shadow: rgb(14.72, 103.68, 117.76) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(57.8, 175.95, 194.65), rgb(19.55, 137.7, 156.4));
}
.a-button.is-3d-info:hover, .a-button.is-3d-info:focus, .a-button.is-3d-info:active {
  background-color: rgb(69.4, 180.6, 198.2);
  background-image: linear-gradient(rgb(97.24, 191.76, 206.72), rgb(58.99, 153.51, 168.47));
  border-color: rgb(91.341, 176.409, 189.873) rgb(62.46, 162.54, 178.38) rgb(39.3498, 102.4002, 112.3794);
  box-shadow: rgb(44.416, 115.584, 126.848) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-info:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(44.416, 115.584, 126.848) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-info.is-disabled, .a-button.is-3d-info:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(21.62, 152.28, 172.96);
}
.a-button.is-3d-success {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgb(68.85, 166.005, 91.035) rgb(36, 150.3, 62.1) rgb(25.2, 105.21, 43.47);
  background-color: #28a745;
  box-shadow: rgb(25.6, 106.88, 44.16) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(72.25, 180.2, 96.9), rgb(34, 141.95, 58.65));
}
.a-button.is-3d-success:hover, .a-button.is-3d-success:focus, .a-button.is-3d-success:active {
  background-color: rgb(83, 184.6, 106.2);
  background-image: linear-gradient(rgb(108.8, 195.16, 128.52), rgb(70.55, 156.91, 90.27));
  border-color: rgb(101.745, 179.469, 119.493) rgb(74.7, 166.14, 95.58) rgb(47.061, 104.6682, 60.2154);
  box-shadow: rgb(53.12, 118.144, 67.968) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-success:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(53.12, 118.144, 67.968) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-success.is-disabled, .a-button.is-3d-success:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(37.6, 156.98, 64.86);
}
.a-button.is-3d-warning {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #3b384c;
  border-color: rgb(233.325, 191.25, 40.545) rgb(229.5, 180, 2.7) rgb(160.65, 126, 1.89);
  background-color: #ffc803;
  box-shadow: rgb(163.2, 128, 1.92) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(255, 208.25, 40.8), rgb(216.75, 170, 2.55));
}
.a-button.is-3d-warning:hover, .a-button.is-3d-warning:focus, .a-button.is-3d-warning:active {
  background-color: rgb(255, 211, 53.4);
  background-image: linear-gradient(rgb(255, 217.6, 83.64), rgb(216.75, 179.35, 45.39));
  border-color: rgb(233.325, 199.665, 79.101) rgb(229.5, 189.9, 48.06) rgb(144.585, 119.637, 30.2778);
  box-shadow: rgb(163.2, 135.04, 34.176) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-warning:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(163.2, 135.04, 34.176) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-warning.is-disabled, .a-button.is-3d-warning:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(239.7, 188, 2.82);
}
.a-button.is-3d-danger {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgb(206.55, 78.795, 91.035) rgb(198, 47.7, 62.1) rgb(138.6, 33.39, 43.47);
  background-color: #dc3545;
  box-shadow: rgb(140.8, 33.92, 44.16) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  background-image: linear-gradient(rgb(225.25, 83.3, 96.9), rgb(187, 45.05, 58.65));
}
.a-button.is-3d-danger:hover, .a-button.is-3d-danger:focus, .a-button.is-3d-danger:active {
  background-color: rgb(227, 93.4, 106.2);
  background-image: linear-gradient(rgb(231.2, 117.64, 128.52), rgb(192.95, 79.39, 90.27));
  border-color: rgb(211.905, 109.701, 119.493) rgb(204.3, 84.06, 95.58) rgb(128.709, 52.9578, 60.2154);
  box-shadow: rgb(145.28, 59.776, 67.968) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
}
.a-button.is-3d-danger:active {
  position: relative;
  top: 0.09375em;
  box-shadow: rgb(145.28, 59.776, 67.968) 0 calc(0.125em / 2) 0 0, rgba(0, 0, 0, 0.4) 0 calc(0.125em / 2) 0.3125em;
}
.a-button.is-3d-danger.is-disabled, .a-button.is-3d-danger:disabled {
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  border-color: rgb(206.8, 49.82, 64.86);
}
.a-button.is-3d-disabled {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #3b384c;
  border-color: rgb(211.14, 211.14, 211.14) rgb(203.4, 203.4, 203.4) rgb(142.38, 142.38, 142.38);
  background-color: #e2e2e2;
  box-shadow: rgb(144.64, 144.64, 144.64) 0 0.125em 0 0, rgba(0, 0, 0, 0.4) 0 0.125em 0.3125em;
  pointer-events: none;
}
.a-button.is-3d-disabled.is-disabled, .a-button.is-3d-disabled:disabled {
  color: rgba(59, 56, 76, 0.4);
  pointer-events: none;
  border-color: rgb(212.44, 212.44, 212.44);
}
.a-button.is-xs {
  font-size: 0.8rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
  min-height: 2em;
  font-weight: 600;
}
body.is-ie11 .a-button.is-xs {
  height: 2em;
}
.a-button.is-sm {
  font-size: 0.8888888889rem;
  padding-left: 1.1111111111em;
  padding-right: 1.1111111111em;
  min-height: 2.5111111111em;
  font-weight: 600;
}
body.is-ie11 .a-button.is-sm {
  height: 2.5111111111em;
}
.a-button.is-md {
  font-size: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 2.75rem;
  font-weight: 600;
}
body.is-ie11 .a-button.is-md {
  height: 2.75rem;
}
.a-button.is-lg {
  font-size: 1.3333333333rem;
  padding-left: 1.3333333333em;
  padding-right: 1.3333333333em;
  min-height: 3em;
  font-weight: 600;
}
body.is-ie11 .a-button.is-lg {
  height: 3em;
}
.a-button.is-xl {
  font-size: 1.6rem;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 2.96em;
  font-weight: 700;
}
body.is-ie11 .a-button.is-xl {
  height: 2.96em;
}
.a-button.is-icon {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.a-button.is-icon i {
  font-size: 1.125em;
}

.a-basic-table {
  min-width: 100%;
}
.a-basic-table th,
.a-basic-table td {
  padding: 0.375em 0.75em;
  border: solid 1px #ccc;
  line-height: 1.45;
}
.a-basic-table th {
  font-weight: 600;
  text-align: center;
}
.a-basic-table thead {
  background-color: #e2e6ea;
}
.a-basic-table thead th,
.a-basic-table thead td {
  border-color: #b1b6bb;
}

.m-horizontal-buttons {
  height: 100%;
}

.m-horizontal-buttons__items {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: calc(0.5rem / -2);
  margin-right: calc(0.5rem / -2);
}
.m-horizontal-buttons__items > * {
  padding-left: calc(0.5rem / 2);
  padding-right: calc(0.5rem / 2);
}

.m-horizontal-buttons__item {
  display: flex;
  align-items: center;
  flex: 1;
}
@media (min-width: 48em) {
  .m-horizontal-buttons__item {
    max-width: 20rem;
  }
}

.m-vertical-icon-blocks {
  height: 100%;
  overflow-y: auto;
}

.m-vertical-icon-blocks__item {
  position: relative;
}
.m-vertical-icon-blocks__item .a-count-badge {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.form {
  width: 48rem;
  max-width: 100%;
  margin: 0 auto;
}

.form__header {
  margin-bottom: 1em;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__header {
    font-size: 1.5rem;
  }
}
@media (min-width: 61.25em) {
  .form__header {
    font-size: 2.75rem;
  }
}

.form__title {
  text-align: center;
  line-height: 1.4;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -2px 1px;
}

.form__help {
  margin-top: 0.5em;
  line-height: 1.4;
  color: #b9b1ea;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__help {
    font-size: 1rem;
  }
}
@media (min-width: 61.25em) {
  .form__help {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__help.is-sm {
    font-size: 0.875rem;
  }
}
@media (min-width: 61.25em) {
  .form__help.is-sm {
    font-size: 1rem;
  }
}

@media (min-width: 20em) and (max-width: 61.24em) {
  .form__description {
    font-size: 1rem;
  }
}
@media (min-width: 61.25em) {
  .form__description {
    font-size: 1.25rem;
  }
}
.form__description p {
  line-height: 1.5;
}

.form__description + .form__items {
  margin-top: 1.25rem;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__header + .form__items {
    margin-top: 1rem;
  }
}
@media (min-width: 61.25em) {
  .form__header + .form__items {
    margin-top: 2rem;
  }
}

.form__item .a-form-label {
  margin-bottom: 0.5em;
}
.form__item + .form__item {
  margin-top: 2rem;
}

.form__input-container .form__text {
  font-weight: 800;
  white-space: nowrap;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__input-container .form__text {
    font-size: 1rem;
    display: block;
    margin-top: 0.25em;
  }
}
@media (min-width: 61.25em) {
  .form__input-container {
    display: flex;
    align-items: flex-end;
  }
  .form__input-container .form__text {
    font-size: 1.75rem;
    font-weight: 800;
    margin-left: 0.25em;
  }
}

.form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__items + .form__actions {
  margin-top: 2rem;
}
.form__actions .a-button:not(:first-child) {
  margin-top: 0.75em;
}

@media (min-width: 20em) and (max-width: 61.24em) {
  .form__action {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 61.24em) {
  .form__nav {
    font-size: 1rem;
  }
}
@media (min-width: 61.25em) {
  .form__nav {
    font-size: 1.125rem;
    margin-left: -0.75em;
    margin-right: -0.75em;
    display: flex;
    justify-content: center;
  }
}
.form__actions + .form__nav {
  margin-top: 1.5em;
}

.form__nav-link {
  display: block;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .form__nav-link {
    text-align: center;
  }
  .form__nav-link + .form__nav-link {
    margin-top: 1em;
  }
}
@media (min-width: 61.25em) {
  .form__nav-link {
    padding: 0 0.75em;
  }
}

.o-basic-header {
  height: 3.5rem;
  background-color: white;
  position: relative;
  z-index: 2;
}
.o-basic-header .l-container {
  height: inherit;
}
.o-basic-header .m-horizontal-icon-blocks {
  margin-right: -1.5rem;
}

.o-basic-header__inner {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.o-basic-header__start {
  display: flex;
  align-items: center;
}

.o-basic-header__page-links {
  margin-left: 1.25rem;
  font-size: 0.875rem;
}
.o-basic-header__page-links .m-inline-list__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.o-basic-header__page-links .m-inline-list__items > * {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.o-basic-header__page-links .a-pill-link {
  color: inherit;
}
.o-basic-header__page-links .a-pill-link:hover {
  background-color: #4638a0;
  color: white;
}

.o-basic-header__block-links,
.o-basic-header__auth-links {
  display: flex;
  align-items: center;
  height: 100%;
}
.o-basic-header__block-links .m-horizontal-icon-blocks,
.o-basic-header__auth-links .m-horizontal-icon-blocks {
  font-size: 1.375rem;
  background-color: white;
}
.o-basic-header__block-links .m-horizontal-icon-blocks,
.o-basic-header__block-links .m-horizontal-icon-blocks__items,
.o-basic-header__block-links .m-horizontal-icon-blocks__item,
.o-basic-header__auth-links .m-horizontal-icon-blocks,
.o-basic-header__auth-links .m-horizontal-icon-blocks__items,
.o-basic-header__auth-links .m-horizontal-icon-blocks__item {
  height: inherit;
}
.o-basic-header__block-links .m-horizontal-icon-blocks__item,
.o-basic-header__auth-links .m-horizontal-icon-blocks__item {
  width: 3.75rem;
}
.o-basic-header__block-links .a-icon-square,
.o-basic-header__auth-links .a-icon-square {
  background-color: white;
}
.o-basic-header__block-links .a-icon-square:hover,
.o-basic-header__auth-links .a-icon-square:hover {
  background-color: rgb(224.4, 224.4, 224.4);
}
.o-basic-header__block-links .m-horizontal-icon-blocks__item .a-icon-square,
.o-basic-header__auth-links .m-horizontal-icon-blocks__item .a-icon-square {
  border-left: solid 1px #ccc;
}

.home__title {
  text-align: center;
  white-space: nowrap;
  line-height: 1.3;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .home__title {
    font-size: 2.5rem;
  }
  .home__title br {
    display: block;
  }
}
@media (min-width: 61.25em) {
  .home__title {
    font-size: 5rem;
  }
  .home__title br {
    display: none;
  }
}

.home__sub-title {
  text-align: center;
  white-space: nowrap;
  line-height: 1.4;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .home__sub-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 61.25em) {
  .home__sub-title {
    font-size: 2.25rem;
  }
}
.home__title + .home__sub-title {
  margin-top: 1.25em;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .home__sub-title .is-hidden-md-up {
    display: block;
  }
}
@media (min-width: 61.25em) {
  .home__sub-title .is-hidden-md-up {
    display: none;
  }
}

.home__action {
  display: flex;
  justify-content: center;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .home__hgroup + .home__action {
    margin-top: 1.5rem;
  }
}
@media (min-width: 61.25em) {
  .home__hgroup + .home__action {
    margin-top: 3rem;
  }
}

.home__nav {
  display: flex;
  justify-content: center;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .home__nav {
    font-size: 1rem;
  }
}
@media (min-width: 61.25em) {
  .home__nav {
    font-size: 1.25rem;
  }
}
.home__action + .home__nav {
  margin-top: 1.5rem;
}

.home__nav-link {
  display: block;
  padding: 0 0.75em;
}

.o-admin-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.o-admin-content__header {
  margin-bottom: 1.5rem;
}

.o-admin-content__title {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 600;
}

.o-admin-content__row:not(:first-child) {
  margin-top: 1rem;
}

.o-basic-page-header {
  background-color: white;
  height: 5rem;
}
.o-basic-page-header .l-container {
  height: inherit;
}

.o-basic-page-header__inner {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.o-basic-page-header__start {
  display: flex;
  align-items: center;
}

.o-basic-page-header__title {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 600;
}

.o-flash {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  background-image: image_url("flash.jpg");
  background-size: cover;
  background-position: center;
  line-height: 1.4;
  text-align: center;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .o-flash {
    font-size: 1.5rem;
    padding: 2rem 2rem 10rem;
  }
}
@media (min-width: 61.25em) {
  .o-flash {
    font-size: 4rem;
    padding-bottom: 8rem;
  }
}
.o-flash.is-hidden {
  display: none;
}

.o-pagination__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0.5em / -2);
  margin-right: calc(0.5em / -2);
  margin-bottom: calc(0.5em * -1);
}
.o-pagination__items > * {
  padding-left: calc(0.5em / 2);
  padding-right: calc(0.5em / 2);
  margin-bottom: 0.5em;
}

.o-pagination__item-link {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
  color: #9494a0;
  border-radius: 0.1875rem;
  border: solid 1px #ccc;
  transition: all 0.2s ease-out;
}
.o-pagination__item-link:hover {
  border-color: #604eda;
  box-shadow: rgba(96, 78, 218, 0.2) 0 0 0 2px;
}
.o-pagination__item-link:hover {
  background-color: white;
  color: #604eda;
}
.o-pagination__item-link.is-active {
  background-color: #4638a0;
  color: white;
  border-color: #4638a0;
  pointer-events: none;
}

.tns-ovh {
  overflow: auto !important;
}

.topics__item {
  min-height: 100vh;
}

.topics__item-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  line-height: 1.4;
  font-weight: 600;
  overflow: auto;
  position: fixed;
}
@media (min-width: 20em) and (max-width: 61.24em) {
  .topics__item-inner {
    font-size: 2.25rem;
    padding: 1rem;
  }
}
@media (min-width: 61.25em) {
  .topics__item-inner {
    font-size: 3.75vw;
    padding: 1rem 4rem 8rem;
  }
}

.topics__item-to {
  font-size: 0.875em;
  margin-bottom: 0.5em;
}

.tns-nav {
  display: none;
}

.topics__link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.tns-controls {
  position: absolute;
  bottom: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
.tns-controls button {
  outline: none;
  color: rgba(255, 255, 255, 0.4);
}

.t-admin {
  background-color: #eaeaea;
  padding-left: 5rem;
}

.t-admin__start .l-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.t-admin__start .a-basic-table {
  background-color: white;
}

.t-admin__end {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
}
.t-admin__end .o-application-global-nav {
  background-color: #4638a0;
  font-size: 1.625rem;
  min-height: 100vh;
}
.t-admin__end .m-vertical-icon-blocks__item {
  height: 4.125rem;
}
.t-admin__end .a-icon-square {
  color: white;
  background-color: #4638a0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
.t-admin__end .a-icon-square:hover {
  background-color: rgb(61.6, 49.28, 140.8);
}

.t-application {
  overflow: hidden;
  background-color: #4638a0;
  background-image: linear-gradient(#5548af, #2c226f);
  color: white;
}
